[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

.vs/
.idea/
.vscode/
__pycache__/
*.py[cod]
*.csproj
*.sln
*.suo
*.user
*.pdb
*.mdb

.DS_Store
Thumbs.db
